[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "third_party/fairino_python_sdk"]
	path = third_party/fairino_python_sdk
	url = https://github.com/FAIR-INNOVATION/fairino-python-sdk.git
[submodule "third_party/openarm_can"]
	path = third_party/openarm_can
	url = https://github.com/enactic/openarm_can.git
[submodule "third_party/openarm_mujoco"]
	path = third_party/openarm_mujoco
	url = https://github.com/enactic/openarm_mujoco.git
