[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "third_party/fairino_python_sdk"]
	path = third_party/fairino_python_sdk
	url = https://github.com/FAIR-INNOVATION/fairino-python-sdk.git
[submodule "third_party/openarm_can"]
	path = third_party/openarm_can
	url = https://github.com/enactic/openarm_can.git
[submodule "src/openarm_ros_ws/src/openarm_description"]
	path = src/openarm_ros_ws/src/openarm_description
	url = https://github.com/enactic/openarm_description.git
[submodule "src/openarm_ros_ws/src/openarm_ros2"]
	path = src/openarm_ros_ws/src/openarm_ros2
	url = https://github.com/enactic/openarm_ros2.git
